# These owners will be the default owners for everything in the repo.

*       @zack9433

../packages/oapi-tp-gateway/schema/dhcp @fcwu @FrankSHLi
../packages/oapi-tp-gateway/schema/dns @fcwu @FrankSHLi
../packages/oapi-tp-gateway/schema/ethernet @fcwu @FrankSHLi
../packages/oapi-tp-gateway/schema/wifi @fcwu @FrankSHLi
../packages/oapi-tp-gateway/schema/serial @fcwu @GaryHsu77
../packages/oapi-tp-gateway/schema/system @fcwu @GaryHsu77
../packages/oapi-tp-gateway/schema/time @fcwu @GaryHsu77
../packages/oapi-tp-gateway/schema/cellular @fcwu @GaryHsu77
../packages/oapi-tp-gateway/schema/iptable @fcwu @StuartChenMoxa
../packages/oapi-tp-gateway/schema/openvpn @fcwu @StuartChenMoxa
../packages/oapi-tp-gateway/schema/datalogger @fcwu @CPtung
../packages/oapi-tp-gateway/schema/modbusslave @fcwu @CPtung
../packages/oapi-tp-gateway/schema/firmware @fcwu
../packages/oapi-tp-gateway/schema/remotecontrol @fcwu
../packages/oapi-tp-gateway/schema/program @fcwu
../packages/oapi-tp-gateway/schema/import-export @fcwu
../packages/oapi-tp-server/schema @cain19811028 @owenkao
../packages/oapi-tp-edge/schema @fcwu @GaryHsu77
../packages/oapi-tp-admin-portal/schema @cain19811028 @owenkao
../packages/oapi-tp-tenant-portal/schema @cain19811028 @owenkao
